<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo3.css')}}" method='POST'>

	<script type="text/javascript">
	var coorx=6
	var coory=1
	var grado={{grado}}
	var aciertos={{aciertos}}
	var vidas={{vidas}}
	var imagen=true
	var move=true
	var personaje=true
	var i=0
	var do_pregunta=false
	var ids=""
	var graduarse=""
	var vidas1=0
	document.addEventListener('keydown',function(event){
		if (nivel==1 && move==true){

			var map1=[
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
					[1,0,1,1,1,0,1,1,1,0,1,1,1,0,1,1,1,0,1],
					[1,0,1,1,1,0,1,1,1,0,1,1,1,0,1,1,1,0,1],
					[1,0,1,2,1,0,1,3,1,0,1,4,1,0,1,5,1,0,1],
					[1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9],
					[1,0,1,1,1,1,1,0,0,0,0,1,1,1,1,1,0,0,1],
					[1,0,1,1,1,1,1,0,0,0,0,1,1,1,1,1,0,0,1],
					[1,0,1,1,6,1,1,0,0,0,0,1,1,7,1,1,0,0,1],
					[1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
			]
		
			if (event.keyCode==37 && map1[coorx][coory-1]!=1){
				moverizq();
				coory-=1
				
			}

			
			if (event.keyCode==38 && map1[coorx-1][coory]!=1){
				moverarriba();
				coorx-=1
				if (map1[coorx][coory]==2 ){
					console.log('Grado Kinder')
				}
				if (map1[coorx][coory]==3){
					console.log('Grado 1')
				}
				if (map1[coorx][coory]==4){
					console.log('Grado 2')
				}
				if (map1[coorx][coory]==5){
					console.log('Grado 3')
				}
				if (map1[coorx][coory]==6){
					console.log('Grado 4')
				}
				if (map1[coorx][coory]==7){
					console.log('Grado 5')
				}
			}
			if (event.keyCode==39  && map1[coorx][coory+1]!=1){
				moverder();
				coory+=1
				if (map1[coorx][coory]==9){
					console.log('Nivel 2')
					nivel+=1
					coorx=6
					coory=1
					posx=0
					posy=195
				}

			}
			if (event.keyCode==40  && map1[coorx+1][coory]!=1){
				moverabajo();
				coorx+=1
			}
		}
		if (nivel==2 && move==true ){

			var map1=[
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
					[1,0,1,1,1,1,1,0,0,0,0,0,1,1,1,1,1,0,1],
					[1,0,1,1,1,1,1,0,0,0,0,0,1,1,1,1,1,0,1],
					[8,0,1,1,1,1,1,0,0,0,0,0,1,1,1,1,1,0,9],
					[8,0,1,1,2,1,1,0,1,1,1,0,1,3,1,1,1,0,9],
					[8,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,9],
					[8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,9],
					[8,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,9],
					[1,1,1,1,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1],
					[1,1,1,4,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1],
					[1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
			]
		
			if (event.keyCode==37 && map1[coorx][coory-1]!=1){
				moverizq();
				coory-=1
				if (map1[coorx][coory]==8){
					console.log('Nivel 1')
					nivel-=1
					coorx=6
					coory=18
					posx=544
					posy=195

				}
				
			}
			
			if (event.keyCode==38 && map1[coorx-1][coory]!=1){
				moverarriba();
				coorx-=1
				if (map1[coorx][coory]==2){
					console.log('Grado 6')
				}
				if (map1[coorx][coory]==3){
					console.log('Grado 7')
				}
				if (map1[coorx][coory]==4){
					console.log('Grado 8')
				}
			}
			if (event.keyCode==39  && map1[coorx][coory+1]!=1){
				moverder();
				coory+=1
				if (map1[coorx][coory]==9){
					console.log('Nivel 3')
					nivel+=1
					coorx=6
					coory=1
					posx=0
					posy=195
				}

			}
			if (event.keyCode==40  && map1[coorx+1][coory]!=1){
				moverabajo();
				coorx+=1
			}
		}
		if (nivel==3 && move==true){

			var map1=[
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
					[1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1],
					[1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1],
					[1,0,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,0,1],
					[8,0,1,1,1,1,1,3,1,1,0,1,1,1,4,1,1,1,1],
					[8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],
					[8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],
					[8,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1],
					[8,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1],
					[1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1],
					[1,1,1,1,2,1,1,0,0,0,0,0,0,0,0,0,0,1,1],
					[1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1],
					[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
			]
		
			if (event.keyCode==37 && map1[coorx][coory-1]!=1){
				moverizq();
				coory-=1
				if (map1[coorx][coory]==8){
					console.log('Nivel 2')
					nivel-=1
					coorx=6
					coory=18
					posx=544
					posy=195

				}
				
			}
			
			if (event.keyCode==38 && map1[coorx-1][coory]!=1){
				moverarriba();
				coorx-=1
				if (map1[coorx][coory]==2){
					console.log('Grado 9')
				}
				if (map1[coorx][coory]==3){
					console.log('Grado 10')
				}
				if (map1[coorx][coory]==4){
					console.log('Grado 11')
				}
			}
			if (event.keyCode==39  && map1[coorx][coory+1]!=1){
				moverder();
				coory+=1

			}
			if (event.keyCode==40  && map1[coorx+1][coory]!=1){
				moverabajo();
				coorx+=1
			}
		}


	})
	function enviar (opcion,vidas,aciertos,grado,graduar,ids){
	  // el input del formulario
	  opciones = document.getElementById("opcion");
	  vida = document.getElementById("vid");
	  acierto = document.getElementById("act");
	  grade=document.getElementById("grade")
	  gradua=document.getElementById("graduarse")
	  id=document.getElementById("id_pregunta")
	  // dar el valor que ha recibido la función
	  acierto.value=aciertos;
	  vida.value = vidas;
	  opciones.value = opcion;
	  grade.value=grado;
	  gradua.value=graduar;
	  id.value=ids;


	 
	  // enviar el formulario
	  document.tecla.submit();
	}

	var texto=true
	var imgder,imgesp,imgfrente,imgizq,imgesc,imgmap3;
	function cargaImagenes(){
		imgmap=new Image();
		imgmap2=new Image();
		imgmap3=new Image();
		imgder=new Image();
		imgesc=new Image();

		imgmap.src='../static/img/mapa.png';
		imgmap2.src='../static/img/mapa2.png';
		imgmap3.src='../static/img/mapa3.png'
		imgder.src='../static/img/der.png';
		imgesc.src='../static/img/esc.jpg';

	}
	function dibujamapa(){
		ctx.drawImage(imgmap,0,0,544,416,0,0,544,416);
	}
	function dibujamapa2(){
		ctx.drawImage(imgmap2,0,0,544,416,0,0,544,416);
	}
	function dibujamapa3(){
		ctx.drawImage(imgmap3,0,0,544,416,0,0,544,416);
	}
	function escenario(){
		ctx.drawImage(imgesc,0,0,544,416,0,0,555,440)
	}

	var nivel=1
	var posx=0
	var posy=195
	var pasos=32
	function dibujaDer(){
		if (personaje==true){
			ctx.drawImage(imgder,0,0,32,48,posx,posy,30,30);
		}
	}
	function moverder(){
		posx+=pasos
	}
	function moverizq(){
		posx-=pasos
	}
	function moverarriba(){
		posy-=pasos
	}
	function moverabajo(){
		posy+=pasos

	}
	function identificar_nivel_curso(nivel){
		if (nivel==1 && imagen==true ){
			dibujamapa();
		}
		if (nivel==2 && imagen==true){
			dibujamapa2();
		}
		if (nivel==3 && imagen==true){
			dibujamapa3();
		}
	}
	function preguntas(){
		if (nivel==1){
			if (coorx==5 && coory==3){
				if (grado==0){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Kinder",120,30)
				}
			}
			if (coorx==5 && coory==7){
				if (grado==1){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Primero",120,30)
				}
			}
			if (coorx==5 && coory==11){
				if (grado==2){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Segundo",120,30)
				}
			}
			if (coorx==5 && coory==15){
				if (grado==3){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Tercero",120,30)
				}
			}
			if (coorx==9 && coory==4){
				if (grado==4){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Cuarto",120,30)
				}
			}
			if (coorx==9 && coory==13){
				if (grado==5){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Quinto",120,30)
				}
			}
		}
		if (nivel==2){
			if (coorx==5 && coory==4){
				if (grado==6){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Sexto",120,30)
				}
			}
			if (coorx==5 && coory==13){
				if (grado==7){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Séptimo",120,30)
				}
			}
			if (coorx==10 && coory==3){
				if (grado==8){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Octavo",120,30)
				}
			}
		}
		if (nivel==3){
			if (coorx==10 && coory==4){
				if (grado==9){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Noveno",120,30)
				}
			}
			if (coorx==4 && coory==7){
				if (grado==10){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Décimo",120,30)
				}
			}
			if (coorx==4 && coory==14){
				if (grado==11){
					if (texto==true){
						ctx.font='30px Arial'
						ctx.fillText("Presione E para entrar",135,30)}
					document.addEventListener('keydown',function(event){

						if (event.keyCode==69){
							imagen=false;
							move=false;
							personaje=false;
							texto=false;
							do_pregunta=true
							escenario()
							var d={{dic|tojson}};
							var letras=["A) ","B) ","C) ","D) "]
							var espacio=100
							var j=0
							ctx.font='15px Arial'
							ctx.fillText(d[0].questions[i],50,60)
							console.log(d[0].questions[i])
							console.log(d[0].respuestas[i])
							while (j<d[0].opciones[i].length){
								ctx.fillText(letras[j]+d[0].opciones[i][j],50,espacio);
								console.log(d[0].opciones[i][j])
								espacio+=32
								j+=1
							}
						}

						if (event.keyCode==27){
							imagen=true
							move=true
							personaje=true
							texto=true
							do_pregunta=false

						}
					})

				}
				else{
					ctx.font='30px Arial'
					ctx.fillText("No eres del grado Once",120,30)
				}
			}
		}
	}
	document.addEventListener('keydown',function(event){
		if (do_pregunta==true){
			if (event.keyCode==65){
				console.log(i)
				escenario();
				var d={{dic|tojson}};
				var letras=["A) ","B) ","C) ","D) "]
				var espacio=64
				option=0
				var j=0
				if (option==d[0].respuestas[i]){
					ids=d[0].id_questions[i]
					aciertos+=1
					i+=1
					if (i==d[0].questions.length){
						vidas=5
						aciertos=0
						grado+=1
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="ganar"
						console.log(graduarse)
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
					else{
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="no"
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
				}
				else{
					ids=d[0].id_questions[i]
					i+=1
					vidas-=1
					if (i==d[0].questions.length && vidas!=0){
						vidas=5
						aciertos=0
						grado+=1
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="ganar"
						console.log(graduarse)
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
					else{
						if (vidas!=0){
							vidas1=vidas
							aciertos1=aciertos
							grado1=grado
							graduarse="no"
							enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
						}
						if (vidas==0){
							i=0
							vidas=5
							aciertos=0
							vidas1=vidas
							aciertos1=aciertos
							grado1=grado
							graduarse="perder"
							enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
							window.location.reload(false)
						}

					}
				}
				if (i<d[0].questions.length){
					ctx.fillText(d[0].questions[i],100,40)
					while (j<d[0].opciones[i].length){
						ctx.fillText(letras[j]+d[0].opciones[i][j],100,espacio);
						console.log(d[0].opciones[i][j])
						espacio+=32
						j+=1				
					}
				}
				else{
					imagen=true
					move=true
					personaje=true
					texto=true
					do_pregunta=false
					i=0
					window.location.reload(false)
				}
			}
			if (event.keyCode==66){
				console.log(i)
				escenario();
				var d={{dic|tojson}};
				var letras=["A) ","B) ","C) ","D) "]
				var espacio=64
				option=1
				var j=0
				if (option==d[0].respuestas[i]){
					ids=d[0].id_questions[i]
					aciertos+=1
					i+=1
					if (i==d[0].questions.length){
						vidas=5
						aciertos=0
						grado+=1
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="ganar"
						console.log(graduarse)
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
					else{
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="no"
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
				}
				else{
					ids=d[0].id_questions[i]
					i+=1
					vidas-=1
					if (i==d[0].questions.length &&vidas!=0){
						vidas=5
						aciertos=0
						grado+=1
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="ganar"
						console.log(graduarse)
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
					else{
						if (vidas!=0){
							vidas1=vidas
							aciertos1=aciertos
							grado1=grado
							graduarse="no"
							enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
						}
						if (vidas==0){
							i=0
							vidas=5
							aciertos=0
							vidas1=vidas
							aciertos1=aciertos
							grado1=grado
							graduarse="perder"
							enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
							window.location.reload(false)
						}

					}
				}
				if (i<d[0].questions.length){
					ctx.fillText(d[0].questions[i],100,40)
					while (j<d[0].opciones[i].length){
						ctx.fillText(letras[j]+d[0].opciones[i][j],100,espacio);
						console.log(d[0].opciones[i][j])
						espacio+=32
						j+=1				
					}
				}
				else{
					imagen=true
					move=true
					personaje=true
					texto=true
					do_pregunta=false
					i=0
					window.location.reload(false)
				}
			}
			if (event.keyCode==67){
				console.log(i)
				escenario();
				var d={{dic|tojson}};
				var letras=["A) ","B) ","C) ","D) "]
				var espacio=64
				option=2
				var j=0
				if (option==d[0].respuestas[i]){
					ids=d[0].id_questions[i]
					aciertos+=1
					i+=1
					if (i==d[0].questions.length){
						vidas=5
						aciertos=0
						grado+=1
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="ganar"
						console.log(graduarse)
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
					else{
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="no"
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
				}
				else{
					ids=d[0].id_questions[i]
					i+=1
					vidas-=1
					if (i==d[0].questions.length && vidas!=0){
						vidas=5
						aciertos=0
						grado+=1
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="ganar"
						console.log(graduarse)
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
					else{
						if (vidas!=0){
							vidas1=vidas
							aciertos1=aciertos
							grado1=grado
							graduarse="no"
							enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
						}
						if (vidas==0){
							i=0
							vidas=5
							aciertos=0
							vidas1=vidas
							aciertos1=aciertos
							grado1=grado
							graduarse="perder"
							enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
							window.location.reload(false)
						}

					}
				}
				if (i<d[0].questions.length){
					ctx.fillText(d[0].questions[i],100,40)
					while (j<d[0].opciones[i].length){
						ctx.fillText(letras[j]+d[0].opciones[i][j],100,espacio);
						console.log(d[0].opciones[i][j])
						espacio+=32
						j+=1				
					}
				}
				else{
					imagen=true
					move=true
					personaje=true
					texto=true
					do_pregunta=false
					i=0
					window.location.reload(false)
				}
			}
			if (event.keyCode==68){
				console.log(i)
				escenario();
				var d={{dic|tojson}};
				var letras=["A) ","B) ","C) ","D) "]
				var espacio=64
				option=3
				var j=0
				if (option==d[0].respuestas[i]){
					ids=d[0].id_questions[i]
					aciertos+=1
					i+=1
					if (i==d[0].questions.length){
						vidas=5
						aciertos=0
						grado+=1
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="ganar"
						console.log(graduarse)
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
					else{
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="no"
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
				}
				else{
					ids=d[0].id_questions[i]
					i+=1
					vidas-=1
					if (i==d[0].questions.length &&vidas!=0){
						vidas=5
						aciertos=0
						grado+=1
						vidas1=vidas
						aciertos1=aciertos
						grado1=grado
						graduarse="ganar"
						console.log(graduarse)
						enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
					}
					else{
						if (vidas!=0){
							vidas1=vidas
							aciertos1=aciertos
							grado1=grado
							graduarse="no"
							enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
						}
						if (vidas==0){
							i=0
							vidas=5
							aciertos=0
							vidas1=vidas
							aciertos1=aciertos
							grado1=grado
							graduarse="perder"
							enviar(option,vidas1,aciertos1,grado1,graduarse,ids)
							window.location.reload(false)
						}

					}
				}
				if (i<d[0].questions.length){
					ctx.fillText(d[0].questions[i],100,40)
					while (j<d[0].opciones[i].length){
						ctx.fillText(letras[j]+d[0].opciones[i][j],100,espacio);
						console.log(d[0].opciones[i][j])
						espacio+=32
						j+=1				
					}
				}
				else{
					imagen=true
					move=true
					personaje=true
					texto=true
					do_pregunta=false
					i=0
					window.location.reload(false)
				}
			}
			






		}
	})

	function marcador(){
		grados=document.getElementById('grado')
		grados.textContent=grado
		vidas_=document.getElementById('vidas')
		vidas_.textContent=vidas
		aciertos_=document.getElementById('aciertos')
		aciertos_.textContent=aciertos

	}

	var canvas,ctx;
	function inicializa(){
		canvas=document.getElementById('miCanvas');
		ctx=miCanvas.getContext('2d');
		cargaImagenes();
	}

	///-------------------------------------------
	//Bucle

	var FPS=50
	setInterval(function(){
		principal();
	},1000/FPS);

	function principal(){
		marcador();
		identificar_nivel_curso(nivel);
		dibujaDer();
		preguntas();
	}

	</script>
</head>
<body onload="inicializa();">
	<form name='tecla' class='entrada' action="{{url_for('game')}}" method='POST'>
		<div class="general">
			<div class="cuadros">Vidas:</div>
			<div class="cuadros" id="vidas">{{vidas}}</div>
			<div class="cuadros">Grado:</div>
			<div class="cuadros" id="grado">{{grado}}</div>
			<div class="cuadros">Aciertos:</div>
			<div class="cuadros" id="aciertos">{{aciertos}}</div>
			<div class="cuadros" id="nombre" >{{nombre}}</div>
			<div class="juego" name="juego">
				<input type="hidden" name="opcion" id="opcion" value="a">
				<input type="hidden" name="id_pregunta" id="id_pregunta" value="">
				<input type="hidden" name="vid" id="vid" value="">
				<input type="hidden" name="act" id="act" value="">
				<input type="hidden" name="grade" id="grade" value="">
				<input type="hidden" name="graduarse" id="graduarse" value="">
				<canvas id="miCanvas" width="544" height="416" style="border: 2px solid #000000" ></canvas>
			</div>
		</div>
	</form>
	<form action="{{url_for('logout')}}" class='salida' method="POST">
			<input type="submit" value="Cerrar sesión" id="logout">
	</form>
</body>
</html>